.AboutPage {
  padding-top: 3rem;
  .wrapper {
    max-width: 270px;
    margin: 0 auto;
    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    p {
      line-height: 1.7;
    }
  }
}
