@import '../variables.scss';

.Newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  @include md {
    align-items: flex-start;
    padding-top: 6rem;
  }

  width: 100%;

  .wrapper {
    max-width: 80%;
    margin: 0 auto;
    .form {
      background-color: white;
      padding: 2rem;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 6px;
      h3 {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 400;
      }
      .form_row {
        label {
          display: block;
          margin-bottom: 4px;
          font-weight: 300;
        }
        input {
          margin-bottom: 1rem;
          border: 1px solid rgb(220, 211, 211);
          padding: 5px 12px;
          border-radius: 4px;
          background-color: rgb(245, 245, 245);

          @include md {
            width: 520px;
          }
        }
      }
      button {
        display: block;
        width: 100%;
        background-color: $custom_green;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        margin-top: 1rem;

        @include md {
          font-size: 16px;
        }
      }
    }
  }
}
