@import '../variables.scss';

.SingleCocktailPage {
  width: 100%;
  padding-top: 2rem;
  @include md {
    min-height: 125vh;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    max-width: 80vw;
    margin: 0 auto;
    h3 {
      font-weight: 400;
    }

    a {
      text-decoration: none;
      background-color: $custom_green;
      color: white;
      padding: 5px 12px;
      border-radius: 4px;
    }
    .flex_container {
      @include lg {
        display: flex;
        gap: 2rem;
      }
      img {
        display: block;
        max-width: 100%;
        border-radius: 6px;
        @include lg {
          width: 40%;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.4rem;
        padding: 2rem 0;
        @include md {
          max-width: 700px;
        }
        @include lg {
          padding: 0;
        }

        span {
          background-color: #6ee8b8;
          color: #00775a;
          padding: 5px 5px;
          border-radius: 4px;
          margin-right: 8px;
        }
        div {
          margin-bottom: 0.4rem;
          line-height: 1.7;
        }
      }
    }
  }
}
