@import '../variables.scss';

.header {
  padding: 2rem 0;
  .wrapper {
    max-width: 80vw;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
      justify-content: space-between;
    }
    .logo {
      color: $custom_green;
      padding-bottom: 1rem;
    }
    .nav {
      display: flex;
      flex-direction: column;
      @include md {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }

      a {
        margin-bottom: 0.7rem;
        text-decoration: none;
        color: black;
        &.active {
          color: $custom_green;
        }
        &:last-of-type {
          margin-bottom: 0;

          @include md {
            margin-bottom: 0.7rem;
          }
        }
      }
    }
  }
}
