@import '../variables.scss';

.header {
  padding: 2rem 0;
  .wrapper {
    max-width: 270px;
    margin: 0 auto;
    .logo {
      font-size: 32px;
      font-weight: bold;
      color: $custom_green;
      padding-bottom: 1rem;
    }
    .nav {
      display: flex;
      flex-direction: column;
      a {
        margin-bottom: 0.7rem;
        text-decoration: none;
        color: black;
        &.active {
          color: $custom_green;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
